# Exercise 2: Creating a Table with Apache Cassandra

- Create a table in Apache Cassandra
- Insert rows of data
- Run a simple SQL query to validate the information

#### Import Apache Cassandra python package

In [1]:
import cassandra

### Create a connection to the database

In [2]:
from cassandra.cluster import Cluster
try: 
    cluster = Cluster(['127.0.0.1']) 
    #If you have a locally installed Apache Cassandra instance
    session = cluster.connect()
except Exception as e:
    print(e)

### Create a keyspace to do the work in

In [3]:
## TO-DO: Create the keyspace
try:
    session.execute("""
    CREATE KEYSPACE IF NOT EXISTS udacity 
    WITH REPLICATION = 
    { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }"""
)

except Exception as e:
    print(e)

### Connect to the Keyspace

In [4]:
## To-Do: Add in the keyspace you created
try:
    session.set_keyspace('udacity')
except Exception as e:
    print(e)

### Create a Song Library that contains a list of songs, including the song name, artist name, year, album it was from, and if it was a single. 

`song_title
artist_name
year
album_name
single`

### Create a table to be able to run the following query: 
`select * from songs WHERE year=1970 AND artist_name="The Beatles"`

- Working with Apache Cassandra a NoSQL database, it can't model our data and create our table with out more information.
- In the query above, YEAR will become the partition key, and ARTIST_NAME will be the clustering column to make each primary key unique. There are no duplicates in Apache Cassandra.

In [5]:

query = "CREATE TABLE IF NOT EXISTS songs "
query = query + "(year int, song_title text, artist_name text, \
                  album_name text, single boolean, \
                  PRIMARY KEY (year, artist_name))"
try:
    session.execute(query)
except Exception as e:
    print(e)

### Insert the following two rows in your table
`First Row:  "Across The Universe", "The Beatles", "1970", "False", "Let It Be"`

`Second Row: "The Beatles", "Think For Yourself", "False", "1965", "Rubber Soul"`

In [10]:

query = "INSERT INTO songs (year, song_title, artist_name, album_name, single)"

query = query + " VALUES (%s, %s, %s, %s, %s)"

try:
    session.execute(query, (1970,"Across The Universe","The Beatles","Let It Be", False))
except Exception as e:
    print(e)
    
try:
    session.execute(query, (1965, "The Beatles", "Think For Yourself","Rubber Soul",False))
except Exception as e:
    print(e)

### Validate your data was inserted into the table.

In [11]:

query = 'SELECT * FROM songs'
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print (row.year, row.album_name, row.artist_name)

1965 Rubber Soul Think For Yourself
1970 Let It Be The Beatles

### Validate the Data Model with the original query.

`select * from songs WHERE YEAR=1970 AND artist_name="The Beatles"`

In [13]:

query = "SELECT * FROM songs WHERE YEAR=1970 AND artist_name='The Beatles'"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print (row.year, row.album_name, row.artist_name)

1970 Let It Be The Beatles

### And Finally close the session and cluster connection

In [14]:
session.shutdown()
cluster.shutdown()